<!DOCTYPE html>
<html ng-app='myApp'>
<head>
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>
	<script src= "main.js"></script>
</head>
<body ng-controller='mainController'>
<button ng-click="button()"> Hello</button>
<h1 ng-show='hide'>Hello there!</h1>
<p ng-show='hide'>This is going to be interesting!</p>
<button ng-click='button2()'>Show me!</button>
<ul ng-show='show'>
	<li>This</li>
	<li>is</li>
	<li>crazy</li>
</ul>
</body>
</html>